/* Footer Widgets
---------------------------------------------------------------------------- */

.footer-widgets {
	border-top: 1px solid #eee;
	background-color: #fff;
	clear: both;
  padding: 60px 0;
  
  @include media (null, $tablet-landscape){
    padding: 4rem 0;
      
    }
    @include media (null, $phone-landscape){
      padding: 2rem ;
        
      }
}

.footer-widgets .wrap {
	margin-left: auto;
	margin-right: auto;
	display: flex; 
	justify-content: center;
  align-items: center;

  @include media (null, $tablet-landscape){
    flex-wrap: wrap;
     
   }

  
}

.footer-widget-area {
  padding: 0 2rem;
	margin-bottom: 40px;
  
  @include media (null, $desktop){
    padding: 1.5rem;
      
    }

  @include media (null, $tablet-landscape){
   width: calc(50% - 4rem);
   margin: 1rem;
     
   }

   @include media (null, $wp-admin-bar){
    width: calc(100% - 0rem);
    margin: 0;
    padding: 1rem;
      
    }

}

.footer-widget-area:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}


/*----------------------------------------------
// Footer
----------------------------------------------*/

.footer-widgets{
    padding: 4rem;
    background-color: $Navy;
    border-top: 1px solid #eee;
    clear: both;
   

    @include media (null, $phone-landscape){
    padding: 2rem ;
      
    }
  
    h3{
      color: $Gold;
      margin-left: 2rem;
      font-size: 22px !important;

      @include media (null, $desktop){
       font-size: 18px !important;
         
       }

       @include media (null, $wp-admin-bar){
        left: 0;
        font-size: 16px !important;
          
        }
    
    }
    h3:before{
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 9.5%;
    background: #006A4E;
    z-index: 1;
    top: 15px;
    left: -12%;

    @include media (null, $wp-admin-bar){
      width: 6.5%;
      left: -8%;
      top: 14px;
        
      }
    }

    
  }
  
  .footer-widgets{
  
    .footer-widget-area{

      
    
  
      a{
        font-size: 14px;
        text-decoration: none;
        color: $Green;
        margin: 10px 0;
        padding: 0;
  
  
      }
      p{
          color: $White;
      }
  
      section{
        
        .widget-wrap{
          .textwidget {
            font-size: 14px;
            color: $White;
          }
        }
  
      }
      
    
       
    .contact{
      padding: 0 0 10px 0;
      
      
        .dashicons{
          display: inline-block;
          position: relative;
          right: 12px;
          font-size: 25px;
          color: $Green;}
        }
  
        .address{
          display: flex;
        }
        p{
          font-size: 14px;

          @include media (null, $wp-admin-bar){
            font-size: 12px;
              
            }
        }
    }
    iframe{
      box-shadow: $box-shadow;
      border-radius: $border-radius;
    }
    
    }

    .footer-widgets-4{
        padding: 0 1rem !important;
        margin-left: -15px;

        @include media (null, $tablet-landscape){
          margin-left: 0;
            
          }
    }
  
    // Site Footer
  
    .site-footer{
        text-align: center;
        line-height: 0.8;
        background-color: $Navy;
        border-top: 1px solid $Gold;
        color: $Green;
        padding: 20px;

        p{
            margin-bottom: 0;
            font-size: 12px;

        }
  
      .wrap{
        .site-footer-copy{
          display: flex;
          justify-content: center;
          font-size: 12px;
        }
        
  
        .bgco{
          color: $Gold;
          font-weight: 600;
          font-family: $primary;
          margin: 0 2px;
        }
      }
      .upply,
      .upply a{
        font-size: 10px;
        padding: 0;
        margin: 0;
        text-decoration: none;
        
      }
      .upply a{
        color: $Gold;
        font-weight: bolder
      }
      .upply a:hover,
      .upply a:active,
      .upply a:focus{
        color: $Green;
        
      }
  
      
    }
    
  
  
  
  