//--------------------------------------------------------------
// Mixins
//--------------------------------------------------------------

// Layout

@mixin auto-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin before-title{
  content:'';
  position:relative;
  display:block;
  height: 2px;
  width: 5rem;
  background:$Gold;
  z-index:1;
  top: 2rem;
  right: 13%;
}
//--------------------------------------------------------------
// Global
//--------------------------------------------------------------

body {
  font-family: 'Nanum Gothic', sans-serif; 
	background-color: $body;
	color: $Black;
	letter-spacing: 1.38px;
	line-height: 1.625;
	margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.widget-area{
  padding: $site-wrapper;
}



/* Headings
--------------------------------------------- */
h1, 
h2,
h3,
h4,
h5{
    font-family: "BigCaslonMedium";
    font-weight: 600;
    padding: 0;
    line-height: 1.38;
}


h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size
}

h3 {
	font-size: $h3-size;
}

h4 {
	font-size: $h4-size;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}

/* Titles
--------------------------------------------- */
.widget-title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

/* Typography
--------------------------------------------- */

p,
a,
ol,
ul,
li,
button{
  font-size: $text-size;
}

a {
	color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #333;
}

blockquote {
	margin: 30px;
}


//--------------------------------------------------------------
// MEDIA QUERIES
//--------------------------------------------------------------
/// Pass Sass Map(s) or Number(s) to create custom media queries.
///
/// @example - scss  Usage
///   @include media(null, $tablet-portrait) {};
///
/// @example - css Output
///   @media and screen (max-width: $tablet-portrait)
@mixin media($min, $max) {

    // If the user passes a grid Sass map, set the variable to the media's value.
    @if type-of($min) == "map" {
      $min: map-get($min, media);
    }
    @if type-of($max) == "map" {
      $max: map-get($max, media);
      $max: $max - 1;
    }
  
    // Create the media query.
    @if $min == null {
      @media only screen and (max-width: $max) {
        @content;
      }
    } @else if $max == null {
      @media only screen and (min-width: $min) {
        @content;
      }
    } @else {
      @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
      }
    }
  }


/*----------------------------------------------
// Media Query Breakpoints
----------------------------------------------*/
$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$wp-admin-bar: 783px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 360px;




/*----------------------------------------------
// Primary Navigation Styles - Site Header
----------------------------------------------*/

.site-header{
  background: $Navy;
}

.genesis-nav-menu a{
  color: $Gold !important;
}

/*----------------------------------------------
// Header Hero Styles - Front Page 1
----------------------------------------------*/

.front-page-1{
  background-image: url('/wp-content/uploads/2019/10/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg');
  background-size: cover;
  background-position: 50% 10%;
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  // top: -70px;
  

    .widget-wrap {
      color: $White;
      max-width: 680px;
      font-family: 'Big Caslon Medium';
      margin-bottom: 0 !important;
      position: relative;
      top: 2rem;
      

      h1:before{
        content:'';
        position:absolute;
        display:block;
        top: 40%;
        height: 1px;
        width: 4rem;
        background:#fff;
        z-index:1;
      }

      .hero-copy{
        font-size: 22px;
      }
        
        @include media(null, $tablet-portrait){
          border: none;
          color: #333;
          background-color: #fff;
          position: relative;
          top: 10rem;
          border-radius: 2px;
      }
    }

    @include media(null, $tablet-portrait){
              flex-direction: column;
              justify-content: flex-end;
          }
}



/*----------------------------------------------
// About Us Section - Front Page 2
----------------------------------------------*/

.front-page-2{
  padding: $site-wrapper;
  display: flex;
  margin: 4rem 0 0 0;

    .wrap {
      @include auto-center;
      margin-left: 1rem;

        #text-5 {
          max-width: 60%;
        }

        #media_image-2{
          margin-left: 7rem;
        }

        h4{
          font-size: $widget-title;
          color: $Green;
          
        }

        h4::before{
          @include before-title;
        }
    }
}


/*----------------------------------------------
// Services Section - Front Page 3/4
----------------------------------------------*/
// Front Page 3 widget used as title area

.front-page-3{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100% !important;

  .wrap{
    h4::before{
      @include before-title;
      top: 4rem;
      left: 50%;
    }
  }

  .widgettitle{
    margin-bottom: 0;
    font-size: $widget-title;
    color: $Green;

  }

}

.front-page-4{

    .wrap{
      @include auto-center;
      flex-wrap: wrap;

      
    }
    section{
      width: calc(33.33% - 5rem);
      padding: 2.5rem;
      margin: 2.5rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      
        .widget-wrap{
          @include auto-center;
          flex-direction: column;

            .widget-title{
              margin: 0 0 20px 0;
              color: $Navy;

            }


        }
     
    }
}



/*----------------------------------------------
// Contact Us - Front Page 5
----------------------------------------------*/
.front-page-5{
  border: 2px solid;
}

/*----------------------------------------------
// Footer
----------------------------------------------*/

.footer-widget-area{
  padding: 0 2rem;

}