

//--------------------------------------------------------------
// MEDIA QUERIES
//--------------------------------------------------------------
/// Pass Sass Map(s) or Number(s) to create custom media queries.
///
/// @example - scss  Usage
///   @include media(null, $tablet-portrait) {};
///
/// @example - css Output
///   @media and screen (max-width: $tablet-portrait)
@mixin media($min, $max) {

  // If the user passes a grid Sass map, set the variable to the media's value.
  @if type-of($min) == "map" {
    $min: map-get($min, media);
  }
  @if type-of($max) == "map" {
    $max: map-get($max, media);
    $max: $max - 1;
  }

  // Create the media query.
  @if $min == null {
    @media only screen and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @media only screen and (min-width: $min) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}


/*----------------------------------------------
// Media Query Breakpoints
----------------------------------------------*/
$large-desktop: 1680px;
$desktop: 1366px;
$tablet-landscape: 1024px;
$wp-admin-bar: 783px;
$tablet-portrait: 768px;
$phone-landscape: 640px;
$phone-portrait: 360px;
//--------------------------------------------------------------
// Mixins
//--------------------------------------------------------------

// Layout

@mixin auto-center{
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin before-title{
  content:'';
  position:relative;
  display:block;
  height: 2px;
  width: 12.5%;
  background:$Gold;
  z-index:1;
  top: 2rem;
  right: 13%;
}

@mixin widget-title{
  font-size: 42px;
  color: $Green;

  
}
//--------------------------------------------------------------
// Global
//--------------------------------------------------------------

body {
  scroll-behavior: smooth;
  font-family: $secondary; 
	background-color: $White;
	color: $Navy;
	letter-spacing: 1.38px;
	line-height: 1.625;
	margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


.widget-area{
  padding: $site-wrapper;

  @include media (null, $tablet-landscape){
    padding: 0rem 5rem;
  }

  @include media (null, $wp-admin-bar){
    padding: 0 4.5rem;
  }
  

  @include media (null, $phone-landscape){
    padding: 2rem;
  }


  @media (max-width: 400px){
    padding: 1rem;
  }
}

.widget-area .wrap{
  margin: $wrapper-margin;

  @include media (null, $phone-landscape){
    margin: 0rem 0.5rem;
  }
}

.widget-area .wrap:first-of-type{
  margin: 0;
}

.widget{
  @include media (null, $phone-landscape){
    margin-bottom: 0 !important;
  }
}
/* Headings
--------------------------------------------- */
h1, 
h2,
h3,
h4,
h5{
    font-family: $primary;
    font-weight: 600;
    padding: 0;
    line-height: 1.38;
    letter-spacing: $letter-spacing;
}


h1 {
	font-size: $h1-size;
}

h2 {
	font-size: $h2-size
}

h3 {
	font-size: $h3-size;
}

h4,
.widget-title {
  font-size: $h4-size;
  font-weight: 600;
  margin-bottom: 20px;
}

.entry-content h3,
.entry-content h4 {
	font-weight: 600;
}

.entry-content h4 {
	margin-top: 40px;
}

h5 {
	font-size: $h5-size;
}

h6 {
	font-size: $h6-size;
}

/* Titles
--------------------------------------------- */
h4, 
.widgettitle{
  color: #006A4E;
  font-size: 42px;
  
  @media (max-width: 900px){
    font-size: 38px;
  }
  
  @include media (null, $phone-landscape){
    font-size: 30px;
  }
}

/* Typography
--------------------------------------------- */

p,
a,
ol,
ul,
li,
button{
  font-size: 15px;
  letter-spacing: $letter-spacing;

  @include media (null, $phone-landscape){
    font-size: 14px;
  }

  @include media (null, $phone-portrait){
    font-size: 12.5px;
  }
}

a {
	color: #0073e5;
	text-decoration: underline;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

a:focus,
a:hover {
	color: $Green;
	text-decoration: none;
}

p {
	margin: 0 0 30px;
  padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

hr {
	border: none;
	border-collapse: collapse;
	border-top: 1px solid #eee;
	clear: both;
	margin: 30px 0;
}

b,
strong {
	font-weight: 700;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

mark {
	background: #ddd;
	color: #333;
}

blockquote {
	margin: 30px;
}


/*----------------------------------------------
// Header Hero Styles - Front Page 1
----------------------------------------------*/

.front-page-1{
  background: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;

  @include media(null, $tablet-landscape){
    height: 50vh;
  }

    @include media(null, $tablet-portrait){
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  

    @include media(null, $phone-landscape){
      height: unset;
    }

    @include media (null, $phone-portrait){
      align-items: center;
    }
    

}
 
    .widget-wrap {
      color: $White;
      max-width: 680px;
      font-family: 'Big Caslon Medium';
      margin-bottom: 0 !important;
      position: relative;

      @include media (null, $tablet-landscape){
        max-width: 400px;
      }

      @include media (null, $phone-landscape){
        max-width: 330px;
      }

      @media(max-width: 420px){
        max-width: 100%;
        color: $Black;
        background: $White;
        border-radius: $border-radius;
        padding: 20px;
        box-shadow: $box-shadow;
        position: relative;
        top: 9rem;
      }
      
      h1{
        @include media (null, $wp-admin-bar){
          font-size: 37px;

        }

        @include media (null, $phone-landscape){
          font-size: 32px;
        }

        @media (max-width: 420px){
          font-size: 28px;
          margin: 0 0 1.5rem 0;
        }

        @include media (null, $phone-portrait){
          font-size: 24px;
          margin: 0 0 0.67em 0;
        }
        
      }

      h1:after{
        content:'';
        position:absolute;
        display:block;
        height: 2px;
        width: 9rem;
        background:$Gold;
        z-index:1;
        margin-top: 5px;

          @include media (null, $wp-admin-bar){
            width: 5rem;
          }

          @media (max-width: 425px){
            top: 37%;
          }

          @media (max-width: 380px){
            top: 35%;
          }

          @include media (null, $phone-portrait){
            width: 4.5rem;
            top: 38%;
          }

          @media (max-width: 325px){
            top: 35%;
          }

          @media (max-width: 300px){
            top: 32%;
          }
      }

      .hero-copy{
        font-size: 22px;

        @include media (null, $wp-admin-bar){
          font-size: 18px;
        }

        @include media (null, $phone-landscape){
          font-size: 16px;
        }

        @include media (null, $phone-portrait){
          font-size: 14px;
        }
      }

    }

  
}



/*----------------------------------------------
// About Us Section - Front Page 2
----------------------------------------------*/

.front-page-2{
  display: flex;
  margin: 4rem 0 0 0;
  background-image: url(/wp-content/uploads/2019/11/fp-2-bg-new.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  
  @include media (null, $desktop){
    background-size: 50%;
    background-position: -13% 40%;
  }

  @include media (null, $tablet-landscape){
    background-size: 65%;
    background-position: -0% 40%;
  }

  @media(max-width: 420px){
    margin-top: 8rem;
  }

  @include media (null, $wp-admin-bar){
    background-position: -60% 50%;
    background-size: 80%;
  }

  @media (max-width: 700px){
    background-position: -60% 10%;
  }

  @include media (null, $phone-portrait){
    margin: 10rem 0 0 0;
    background-position: 58% 0;
    background-size: 140%;
  }

  

    .about-responsive img{
      display: none;
      box-shadow: $box-shadow;
      margin: 15px 0px 15px 15px;
      border-radius: $border-radius;
      position: relative;
      right: -1rem;

      @media(max-width: 900px){
        display: block;
        float: right;
        max-width: 30%;
      }

      @include media (null, $phone-landscape){
       position: relative;
       top: 1.5rem;
      }

      @media (max-width: 500px){
        top: 0;
        max-width: 30%;
        position: relative;
        margin: 3rem 0.5rem;
      }

      @include media (null, $phone-portrait){
        top: 0;
        margin: 45px 10px 0 0px;
      }
      
    }

    #fp2-responsive{
      display: none;

      @media(max-width: 900px){
        display: block;
        font-size: 38px;
        position: relative;
        left: 3rem;
      }
      @include media (null, $wp-admin-bar){
        position: relative;
        left: 2rem;
        
      }

      @include media (null, $phone-landscape){
        font-size: 30px;
        
      }
    }

    #fp2-responsive::before{
        @media(max-width: 900px){
          width: 7.5% !important;
          right: 7.5% !important; 
        }
    }

    .wrap {
      @include auto-center;

      @include media (null, $tablet-landscape){
        margin-right: 0;
        justify-content: space-between;
      
      @media(max-width: 900px){
        margin-top: 0;
      }
        
      }
      

        #text-5 {
          max-width: 60%;

          @include media (null, $tablet-landscape){
            max-width: 50%;
          }

          @media(max-width: 900px){
            max-width: 100%;
          }
        }

        #media_image-2{
          margin-left: 7rem;
          box-shadow: $box-shadow;
          border-radius: $border-radius;

          @include media (null, $tablet-landscape){
            margin-left: 0;
            width: 30%;
          }
          
          @media (max-width: 900px){
            display: none;
          }
        }

        h4{
          @include widget-title;

          @media(max-width: 900px){
            display: none;
           
          }
          
        }

        h4::before{
          @include before-title;

          @include media (null, $tablet-landscape){
            right: 14%;
            top: 1.75rem;
          }

          @media(max-width: 900px){
            width: 10.5%;
            right: 11%;
          }
          @include media (null, $wp-admin-bar){
            top: 1.5rem;
          }

          @include media (null, $phone-landscape){
            width: 8.5%;
            length: 9%;
          }

        }


        @include media (null, $phone-landscape){
          font-size: 12px;
          
        }
       
    }
}


/*----------------------------------------------
// Services Section - Front Page 3/4
----------------------------------------------*/
// Front Page 3 widget used as title area

.front-page-3{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100% !important;

  .wrap{
    h4::before{
      @include before-title;
      top: 4rem;
      right: 0;
      margin: 0 auto;
      width: 50%;
    }
  }

  // .widgettitle{
  //   @include widget-title;

  // }

}

.front-page-4{

    .wrap{
      @include auto-center;
      flex-wrap: wrap;

      @include media (null, $phone-landscape){
        margin: 0;
      }
      
    }
    section{
      width: calc(50% - 5rem);
      padding: 2.5rem;
      margin: 2.5rem;
      box-shadow: $box-shadow;
      border-radius: $border-radius;

      @include media (null, $tablet-landscape){
        width: calc(100% - 5rem);
      }

      @include media (null, $phone-landscape){
        width: calc(100% - 0rem);
        margin: 1.5rem 0;
      }

  
      
        .widget-wrap{
          @include auto-center;
          flex-direction: column;

            .widget-title{
              margin: 0 0 20px 0;
              color: $Gold;
              font-size: 23px;

              @include media (null, $wp-admin-bar){
                font-size: 18px;
              }

            }


        }
     
    }
}



/*----------------------------------------------
// Contact Us - Front Page 5
----------------------------------------------*/

.front-page-5{
 
  display: flex;
  margin: 4rem 0;
  background-image: linear-gradient(rgba(246, 246, 246, 0.9), rgba(246, 246, 246, 0.8)), url(/wp-content/uploads/2019/10/justice-scale.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0% 50%;

  

  @include media (null, $tablet-landscape){
    text-align: center; 
  }

  @include media (null, $phone-landscape){
    display: block;
    
    
  }

    .wrap{
      display: flex;
      padding-right: 1rem;
      align-items: center;
      justify-content: space-between;

      @include media (null, $tablet-landscape){
        flex-direction: column;
        padding: 0;
        margin: 0;
        
      }

      section{
        width: calc(50% - 2rem);
        display: flex;
        justify-content: center;
        padding: 2rem;

        @include media (null, $tablet-landscape){
          width: calc(100% - 0rem);
          padding: 0;

          p{
            margin: 0;
          }
          
        }

        

          .widget-wrap{
        
            @include media (null, $tablet-landscape){
              margin-left: 0;
              
            }
          }


        

          h4{
            @include widget-title;
            margin-top: 0;
          }

          h4::after{
            content:'';
            position:relative;
            display:block;
            height: 2px;
            width: 7rem;
            background:$Gold;
            z-index:1;
           
            
            @include media (null, $tablet-landscape){
             right: 0;
             margin: 0 auto;
             width: 20%;
              
            }
          }
      }
    }
    
}

.form-container{

  
  input:focus,
  input:active,
  input:hover,
  textarea:focus,
  textarea:active,
  textarea:hover{
    border-color: $Green;
  }

  input[type="submit"]{
    background-color: $Navy;
    font-size: 14px;
    padding: 15px 60px;
    font-weight: 400;
    letter-spacing: $letter-spacing;
    display: block;
    margin: 0 auto;
    border-radius: $border-radius;
  }
  input[type="submit"]:hover,
    input[type="submit"]:active,
    input[type="submit"]:focus{
      background-color: $Green;
      transition: 0.3s ease-in-out;
    }
}


form{
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin: 2rem 0 0 0;

  @include media ($desktop, null){
    max-width: 550px;
  }


  .message{
    margin-bottom: 10px;
  }
  .form-container{
    max-width: 100%;
  }

  @include media (null, $tablet-landscape){
    margin: 2rem 0 0 0;
     
   }

    p{
      margin: 0;
    }

    input, 
    textarea{
      border-color: $Gold;
      padding: 10px 40px 10px 10px;
      font-size: 14px;
      
      // @include media (null, $desktop){
      //   padding: 10px 40px 10px 10px;
        
      // }
    }

    .textarea{
      max-width: 100%;
      min-width: 100%;

      
    }
    
    label{
      width: 100%;
      margin: 5px;
      border-radius: $border-radius;
        ::placeholder{
          color: gray;
        }
    }

    .form-fields{
      display: flex;
      justify-content: center;
      
    }

    .name{
      display: flex;
      
    }

    .form-container-2{
      border: 2px solid blue;
      display: flex;
      flex-direction: column;


      .radio{
        border: 2px solid purple;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        span.wpcf7-list-item{
          margin: 10px !important;
        }
      }

      .message{
        border: 2px solid cyan;
        display: block;
        margin: 0 auto;
      }
    }
}


